<link rel="stylesheet" href="{{ site.url }}/map-files/map1/custom.css">
<link rel="stylesheet" href="{{ site.url }}/map-files/leaflet.css">

<div id="map" class="leaflet-container leaflet-fade-anim leaflet-grab leaflet-touch-drag" style="position: relative;" tabindex="0"></div>

<script type="text/javascript" src="{{ site.url }}/map-files/leaflet.js"></script>

<!-- 
These files specify which database (nations.js) and which custom titles/comments/etc (custom.js)
-->
<script type="text/javascript" src="{{ site.url }}/map-files/map1/nations.js"></script>
<script type="text/javascript" src="{{ site.url }}/map-files/map1/custom.js"></script>