<link rel="stylesheet" href="/tree-files/custom.css">
<script src="https://d3js.org/d3.v3.min.js"></script>

<script type="text/javascript" src="/tree-files/flare.json"></script>

<hr/>	
<div id="info-box">&nbsp;</div>
<img id="text-sample" src="/img/script-samples/Proto-Canaanite.png" alt="image of script">
<span>Type</span><span id="info-type">&nbsp;</span>
<span>Languages</span><span id="info-languages">&nbsp;</span>
<span>Time period</span><spanid="info-period">&nbsp;</span>

<hr/>	

<button onclick="expandAll()">Expand All</button>
<button onclick="collapseAll()">Collapse All</button>
<div id="tree" style=" overflow-y:scroll">
<tree-structure style="overflow-x:scroll" ></tree-structure>
</div>

<script type="text/javascript" src="/tree-files/create-tree.js"></script>
