<link rel="stylesheet" href="/tree-files/custom.css">
<script src="https://d3js.org/d3.v3.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="/tree-files/flare.json"></script>


<div id="info-box">
	<p><span id="info-name">Hieroglyphs</span></p>
	<img id="text-sample" src="/img/script-samples/Hieroglyphs.png" alt="image of script">
	<p class="info-text"><span class="forms">Type: <br></span><span id="info-type">Logography, abjad</span></p>
	<p class="info-text"><span class="forms">Languages: <br></span><span id="info-languages">Egyptian</span></p>
	<p class="info-text"><span class="forms">Time period: <br></span><span id="info-period">32nd century BC to 5th century AD</span></p>

	<!--button onclick="expandAll()">Expand All</button>
	<button onclick="collapseAll()">Collapse All</button-->
</div>

<div id="tree">
	<tree-structure></tree-structure>
</div>


<script type="text/javascript" src="/tree-files/create-tree.js"></script>