<link rel="stylesheet" href="/tree-files/custom.css">
<script src="https://d3js.org/d3.v3.min.js"></script>

<script type="text/javascript" src="/tree-files/flare.json"></script>


<div id="info-box">

<p><span id="info-name" style="margin-left:25px;">Alphabetica</span></p>

<img id="text-sample" src="/img/script-samples/Proto-Canaanite.png" alt="image of script">

<p class="info-text"><span class="forms">Type: </span><span id="info-type">&nbsp;</span></p>
<p class="info-text"><span class="forms">Languages: </span><span id="info-languages">&nbsp;</span></p>
<p class="info-text"><span class="forms">Time period: </span><span id="info-period">&nbsp;</span></p>

</div>



<button onclick="expandAll()">Expand All</button>
<button onclick="collapseAll()">Collapse All</button>
<div id="tree" style=" overflow-y:scroll">
<tree-structure style="overflow-x:scroll" ></tree-structure>
</div>

<script type="text/javascript" src="/tree-files/create-tree.js"></script>
